.git
.vs
bin
/obj/Debug/net4.5.2/TASHelper.GlobalUsings.g.cs
/obj/Debug/net4.5.2/TASHelper.csproj.FileListAbsolute.txt
/obj/Debug/net4.5.2/TASHelper.assets.cache
/obj/Debug/net4.5.2/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/obj/Release/net4.5.2/TASHelper.pdb
/obj/Release/net4.5.2/TASHelper.GlobalUsings.g.cs
/obj/Release/net4.5.2/TASHelper.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net4.5.2/TASHelper.dll
/obj/Release/net4.5.2/TASHelper.csproj.FileListAbsolute.txt
/obj/Release/net4.5.2/TASHelper.csproj.CoreCompileInputs.cache
/obj/Release/net4.5.2/TASHelper.csproj.BuildWithSkipAnalyzers
/obj/Release/net4.5.2/TASHelper.csproj.AssemblyReference.cache
/obj/Release/net4.5.2/TASHelper.assets.cache
/obj/Release/net4.5.2/TASHelper.AssemblyInfoInputs.cache
/obj/Release/net4.5.2/TASHelper.AssemblyInfo.cs
/obj/Release/net4.5.2/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
